{% extends "base/app_base.html" %} 
{% load crispy_forms_tags %}
{% block content %}
<div id="loss_manager_header" class="page-header">
	<h1>
		Applicant Specification <small>PERSON UID: {{ applicant.person_uid }}</small>
	</h1>
</div>
<div class="row">
	<div class="col-xs-6 col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Latest Decision</h3>
			</div>
			<div class="panel-body">{{applicant_pilot.latest_decision}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">COA/ TFC / Gross Need / Total AID Amount / Total Gift Aid </h3>
			</div>
			<div class="panel-body">${{applicant.coa}} / ${{applicant.pell_efc}} / ${{applicant.gross_need}} / ${{applicant.aid_total}} / ${{applicant.aid_gift}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Sub Loan / UnSub Loan / Perkins Loan / Gov Award / UIndy Scholarship</h3>
			</div>
			<div class="panel-body">${{applicant.loan_fdl_sub_amount}} / ${{applicant.loan_fdl_unsub_amount}} / ${{applicant.loan_fdl_perkins_amount}} / ${{applicant.award_gov_amount}} / ${{applicant.award_inst_amount}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Unmet Need</h3>
			</div>
			<div class="panel-body">${{applicant.unmet_need}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Time of FAFSA Filed</h3>
			</div>
			<div class="panel-body">{{applicant.days_to_enrollment_fafsa}} Days Before Enrollment</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Time of Applied</h3>
			</div>
			<div class="panel-body">{{applicant.day_to_deadline_application}} Days Before Enrollment</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Merit Grant Score / Tier</h3>
			</div>
			<div class="panel-body">{{applicant.merit_grant_scale}}/100 / {{applicant.merit_grant_tier}}</div>
		</div>

	</div>
	<div class="col-xs-6 col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Secondary School Name</h3>
			</div>
			<div class="panel-body">{{applicant.latest_secondary_school_name}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Indiana Residency</h3>
			</div>
			<div class="panel-body">{{applicant.residency_ind}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Secondary School GPA</h3>
			</div>
			<div class="panel-body">{{applicant.secondary_school_reported_gpa}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">ACT/SAT Score</h3>
			</div>
			<div class="panel-body">{{applicant.test_score_a05}}/{{applicant.test_score_s10}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Campus Visit / Interests Score</h3>
			</div>
			<div class="panel-body">{{applicant.visit_count}} / {{applicant.is_score}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Family Size</h3>
			</div>
			<div class="panel-body">{{applicant.family_size}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Has Children to Support ?</h3>
			</div>
			<div class="panel-body">{{applicant.support_children_ind}}</div>
		</div>
	</div>
</div>

<div id="loss_manager_header" class="page-header">
	<h1>
		Intervention Strategy <small>PERSON UID: {{ applicant_pilot.person_uid }}</small>
	</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Additional Grant to Offer</h3>
			</div>
			<div class="panel-body">${{applicant_pilot.additional_grant}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Tuition Discount</h3>
			</div>
			<div class="panel-body">Increase tuition discount from {{applicant_pilot.discount_rate_org}}% to {{applicant_pilot.discount_rate}}%</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Likelihood to Enroll</h3>
			</div>
			<div class="panel-body">Increase likelihood from {{applicant_pilot.likelihood_before}}% to {{applicant_pilot.likelihood_after}}%</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Net Tuition Revenue in Return</h3>
			</div>
			<div class="panel-body">${{applicant_pilot.net_revenue}}</div>
		</div>
		
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Time Added</h3>
			</div>
			<div class="panel-body">This inference was added at {{applicant_pilot.add_time}}</div>
		</div>
	</div>
</div>

<div id="loss_manager_header" class="page-header">
	<h1>Leave the Note</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<form method="POST" action="">
			{% csrf_token %} {{form|crispy}} 
			<input id="button" type="submit" value="Save" class="btn btn-primary"/>
		</form>
	</div>
</div>
{% endblock content %}