{% extends "base/app_base.html" %} {% block content %}

<div id="loss_manager_header" class="page-header">
	<h1>Intervention Candidate Pool</h1>
</div>

<div id="search_bar" class="row">
	<form method="GET" action="">
		<div class="col-xs-4 col-md-4">
			<input name="filter" type="text" placeholder="Search with SQL. i.e. PILOT_IND>0"
					value='{{request.GET.filter}}' class="form-control"/>
		</div>
		
		<div class="col-xs-4 col-md-4">
			<input id="button" class="btn btn-primary" type="submit"
				value="Search" /> 
		</div>
	</form>
	<form method="POST" action="">
	{% csrf_token %}
		<div class="col-xs-4 col-md-4">
			<button type="submit" class="btn btn-primary" name="csv">Download</button>
		</div>
	</form>
</div>

<div class="row">
	<div class="table-responsive">
		<table class="table table-striped table-condensed ">
			<tr>
				<th>PERSON_UID</th>
				<th>STUDENTNO</th>
				<th>PILOT_IND</th>
				<th>SEQ_ID</th>
				<th>TARGET_IND</th>
				<th>UPDATE_NOTE</th>
				<th>PACKAGING_GROUP</th>
				<th>VERIFICATION_REQUIRED_IND</th>
				<th>LIKELIHOOD BEFORE</th>
				<th>LIKELIHOOD AFTER</th>
				<th>ADDITIONAL_GRANT</th>
				<th>NET_REVENUE</th>
				<th>TUITION_DISCOUNT</th>
				<th>LATEST_DECISION</th>
				<th>MERIT_GRANT_TIER</th>
				<th>HIGH_SCHOOL</th>
				<th>PELL_EFC</th> 
				<th>TIME_ADDED</th>
				<th>TIME_UPDATED</th>
				<th>NOTE</th>
				<th class="info">Action</th>
			</tr>
			{% for obj in objects %}
			<tr class="active">
				<td class="active">{{obj.applicant_pilot.person_uid}}</td>
				<td class="active">{{obj.applicant_pilot.studentno}}</td>
				<td class="active">{{obj.applicant_pilot.pilot_ind}}</td>
				<td class="active">{{obj.applicant_pilot.seq_id}}</td>
				<td class="active">{{obj.applicant_pilot.target_ind}}</td>
				<td class="active">{{obj.applicant_pilot.update_note}}</td>
				<td class="active">{{obj.applicant_pilot.packaging_group}}</td>
				<td class="active">{{obj.applicant_pilot.verification_required_ind}}</td>
				<td class="active">{{obj.applicant_pilot.likelihood_before}}%</td>
				<td class="active">{{obj.applicant_pilot.likelihood_after}}%</td>
				<td class="active">${{obj.applicant_pilot.additional_grant}}</td>
				<td class="active">${{obj.applicant_pilot.net_revenue}}</td>
				<td class="active">{{obj.applicant_pilot.discount_rate}}%</td>
				<td class="active">{{obj.applicant_pilot.latest_decision}}</td>
				<td class="active">{{obj.applicant_pilot.merit_grant_tier}}</td>
				<td class="active">{{obj.applicant_pilot.latest_secondary_school_name}}</td>
				<td class="active">{{obj.applicant_pilot.pell_efc}}</td>
				<td class="active">{{obj.applicant_pilot.add_time}}</td>
				<td class="active">{{obj.update_time_note}}</td>
				<td class="active">{{obj.note}}</td>
				<td class="info">
					<a href="{% url 'intervention_manager:pilot_update' obj.id %}"> Review </a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div id = "page">
		<div class="pagination">
			<span class="step-links"> {% if objects.has_previous %} <a
				href="?{{ page_request_var }}={{ objects.previous_page_number }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}"
				aria-label="Previous"><span aria-hidden="true">&laquo;</span></a> 
				{% endif %} <span class="current"> Page {{ objects.number }} of
					{{ objects.paginator.num_pages }} </span> {% if objects.has_next %} <a
				href="?{{ page_request_var }}={{ objects.next_page_number }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}"
				aria-label="Next"><span aria-hidden="true">&raquo;</span></a> 
				{% endif %}
			</span>
		</div>
	</div>
</div>
{% endblock content %}
