{% extends "base/app_base.html" %} 
{% block content %}


<div id="loss_manager_header" class="page-header">
	<h1>
		Applicant Specification <small>PERSON UID: {{ obj.person_uid }}</small>
	</h1>
</div>
<div class="row">
	<div class="col-xs-6 col-md-6">
		<div id="outcome_label" class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">TFC / Gross Need / Total AID Amount / Total Gift Aid / Unmet Need </h3>
			</div>
			<div id="outcome_body" class="panel-body">${{obj.pell_efc}} / ${{obj.gross_need}} / ${{obj.aid_total}} / ${{obj.aid_gift}} / ${{obj.unmet_need}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Sub Loan+UnSub Loan / Perkins Loan / Gov Award</h3>
			</div>
			<div class="panel-body">${{obj.loan_fdl_sub_amount}}+${{obj.loan_fdl_unsub_amount}} / ${{obj.loan_fdl_perkins_amount}} / ${{obj.award_gov_amount}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">UIndy Scholarship/Grant</h3>
			</div>
			<div class="panel-body">${{obj.award_inst_amount}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Time of FAFSA Filed</h3>
			</div>
			<div class="panel-body">{{obj.days_to_enrollment_fafsa}} Days Before Enrollment</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Time of Applied</h3>
			</div>
			<div class="panel-body">{{obj.day_to_deadline_application}} Days Before Deadline</div>
		</div>

	</div>
	<div class="col-xs-6 col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Indiana Residency</h3>
			</div>
			<div class="panel-body">{{obj.residency_ind}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Secondary School GPA</h3>
			</div>
			<div class="panel-body">{{obj.secondary_school_reported_gpa}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Parent Total Income / Parent Total Contribute Income</h3>
			</div>
			<div class="panel-body">${{obj.fm_parent_total_income}} / ${{obj.fm_parent_contribution_income}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Family Size</h3>
			</div>
			<div class="panel-body">{{obj.family_size}}</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Has Children to Support ?</h3>
			</div>
			<div class="panel-body">{{obj.support_children_ind}}</div>
		</div>
	</div>
</div>
{% endblock content %}