{% load staticfiles %}
<!--DOCTYPE html -->
<html>
<head>
<title>Pharmacy Loss Data Center</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
	integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
	crossorigin="anonymous">


<link rel='stylesheet' href='{% static "css/base.css" %}' />
<style>
</style>
</head>
<body>
	<div class='container'>
		<div id="home_header" class="page-header">
			<h1>UIndy 2020 Recruiting Optimization Pilot Site</h1>
		</div>
		<div id="apps_enter" class="row">
			<div class="col-xs-6 col-md-4">
				<div class="thumbnail">
					<img src='{% static "img/strongbox.png" %}' alt="Intervention_Manager">
					<div class="caption">
						<h3>Intervention Manager</h3>
						<p>Review applicants targeted by machine learning model, apply intervention strategy and provide feedback to the model.</p>
						<p>
							<a href="intervention_manager" class="btn btn-primary" role="button">Enter</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="thumbnail">
					<img src='{% static "img/stats.png" %}' alt="Strategy_Analyst">
					<div class="caption">
						<h3>Reports</h3>
						<p>(Not Available) View up-to-date reports of the intervention process.</p>
						<p>
							<a href="#" class="btn btn-primary" role="button" target="_blank">Enter</a>
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>



	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
		crossorigin="anonymous"></script>
</body>
</html>
