

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div id="navbar" class="navbar-collapse collapse">
			<ul id="nav_tab" class="nav navbar-nav">
				<li role="presentation"><a href="{% url 'home' %}">Home</a></li>
				<li role="presentation"><a
					href="{% url 'intervention_manager:pilot_list' %}">Pilot Intervention</a>
						<a >{% include "base/message_tag.html" %}</a>
				</li>
				<li role="presentation"><a
					href="{% url 'intervention_report:report_list' %}">Target Pool Report</a>
				</li>
				<li role="presentation"><a
					href="https://plot.ly/~ziangj92/804/university-of-indianapolis-pilot-evaluation-dashboard/">Pilot Evaluation Report</a>
				</li>
				
				<li role="presentation"><a href="https://uindy-analyticshub.eastus2.cloudapp.azure.com/hub/home">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>